
.navbar {
    background: #0000ff;
    margin-top: 1px;
}

.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: white;
}
.navbar-collapse {
  justify-content: flex-end;
}